* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: white;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 450px;
}

header {
  margin: 50px 0;
}

.img--logo {
 max-width:100% ;
 max-height: 100%; ;
 display: block;
 /* margin-right and margin-left auto aligns it in the center */
 margin-right: auto;
 margin-left: auto;
 position:relative;

}

.title {
  font-size: 32px;
  padding-top: 40px;
  text-align: center;
}
/* ////FACEBOOK GOOGLE///FACEBOOK GOOGLE///FACEBOOK GOOGLE////FACEBOOK GOOGLE////FACEBOOK GOOGLE///FACEBOOK GOOGLE////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.sign-up {
  display: flex;
  margin-bottom: 20px;
}

.facebook-sign-up {
  color: white;
  background-color: #405a93;
}
.google-sign-up {
  color: black ;
  background-color: #ffffff;
  border: 1px solid black;
}

.btn {
  width: 100%;
  height: 100%;
  padding: 15px 5px;
  border-radius: 50px;
  border-color: #031446;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  }


.facebook-sign-up:hover {
  background: #031446;
  color: #ffffff;
  transform: scale(1.04);
  }

.google-sign-up:hover {
  background: #fff;
  color: black;
  transform: scale(1.04);
  }

.btn:active {
  border-top-color: #3a1111;
  background: #441f1f;
  }
  
.btn:focus {
  outline: 3px solid black;
  outline-offset: 3px;
  }
  
  /* //LINE BREAK//LINE BREAK///LINE BREAK////LINE BREAK///LINE BREAK///LINE BREAK///LINE BREAK//LINE BREAK///////////////////////////////////////////////////////////////////////////////////////// */

.line-break::after, .line-break::before {
  content: ' ' ;
  position: absolute;
  margin: auto;
  height: 2px;
  background: lightgray;
  width: 40%;
  top:40%
}

.line-break::after {
  left:0;

}
.line-break::before {
  right:0;
}

.line-break {
  text-align: center;
  position:relative;
  color: lightgray;
  }
/* ///Email Email FormEmail FormEmail FormEmail Form/Email Form/Email Form//////////////////////////////////////Email Form//////////////////////////////////////////////Email Form */

.title-email {
  font-size: 20px ;
  text-align: center;
}

.form-field {
  font-size: 14px;
  font-weight: 600;
  display: grid;
  padding: 0 0 20px;
}

.form-field__label{
  padding: 14px 0;
}

.form-field__input{
  padding: 14px;
  border-radius: 5px;
  border:1px solid gray;
}

.par-appears {
  padding-top: 10px;
  text-decoration-style: none;
  font-weight: normal;
}
/* /Dropdown/Dropdown/Dropdown/Dropdown/Dropdown/Dropdown/Dropdownv/////////////////////////////////////////// */
.form-field__labels{
  padding: 14px 0;
  font-weight: normal;
}

.drop-down-form {
  font-weight: normal;
  display:flex;
  
}

.form-field__group {
  display: flex;
  gap: 20px;
  text-align: left;
}

#day {
  padding:14px;
  width: 90px;
}

#month {
  width: 202.5px;
}

#year {
width: 112.5px
}
/* form-field-radio-btnform-field-radio-btnform-field-radio-btnform-field-radio-btnform-field-radio-btn */

.form-field-radio-btn {
  gap: 20px;
  display: flex;
  text-align: left
}